#AuthName "Restricted Area" 
#AuthType Basic 
#AuthUserFile /home/vipbtc/pre/.htpasswd 
#AuthGroupFile /dev/null 
#require valid-user

Options -Indexes
ErrorDocument 400 "400"
ErrorDocument 401 "401"
ErrorDocument 403 "403"
ErrorDocument 404 "404"
ErrorDocument 500 "500"

<FilesMatch "ripple.txt">
    Header add Access-Control-Allow-Origin "*"
</FilesMatch>

RewriteEngine On

#RewriteCond %{HTTP_HOST} !^vip\.bitcoin\.co\.id
#RewriteRule (.*) https://vip.bitcoin.co.id/$1 [R=301,L]

RewriteCond $1 !^(index\.php|v2|img|css|js|favicon\.ico|home-assets|homev2-assets|pgp|maintenance\.html|android\.version|ripple\.txt|downloads|robots\.txt|apple-touch-icon\.png|apple-touch-icon-precomposed\.png|charting_library|tokenomy-assets)

#RewriteRule ^(.*)$ /img/maintenance.html [L]

RewriteRule ^(.*)$ index.php/$1 [L]


